.logo {
    color: hotpink;
}

.state-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  */
@media only screen and (max-width: 1000px) {
    .state-container {
        flex-direction: column;
    }

    .logo {
        font-size: 25px;
    }

    .chart {
        /* width: 40%;
        margin-left: 0;
        padding-left: 0; */
    }
}